// Use !{var} to use unescaped conent
include variables.pug
link(rel='stylesheet' type='text/css' href='../style.css')
.container 
  .row.first-row 
    .title 様式第一 (附則第二条関係)
  .row.second-row
    .first-block
      span.single-char 令和
      each character in '04年12'
        span.single-char=character
      span.single-char 月分
    .second-block
      span 介護給付費請求書
  .row.third-row
    .left-side
      div 保 険 者
      div (別 記)殿
      div 下記のとおり請求します。
    .center 
      span 令和05年02月17日
    .right-side 
      .row
        div.header 事業所番号
        div.body.row 
          each numb in '0190200001'
            div.split-char #{numb}
      .row
        div.header 請求事業所
        div.body
          .row.full-width 
            div.sub-header.padding-content 名称
            div.sub-body.padding-content きたえるーむ(デモ)
          .row.full-width.position
            div.sub-header 所在地
            div.sub-body 
              .row
                each numb in '〒999-9999'
                  div.split-text #{numb}
              div.border-top.text-area 札幌市
          .row.full-width
            div.sub-header.padding-content 連絡先 
            div.sub-body.padding-content 011-999-9999
  .fourth-row
    .title 保険請求
    .table
      .row.full-width.head
        .col1.header 区分
        .col2.header
          div.border-bottom.full-width.title.text-center サービス費用
          div.row
            div.cell 件数
            div.cell 単位数<br>・点数
            div.cell 費用<br>合計
            div.cell 保険<br>請求額
            div.cell 公費<br>請求額
            div.cell 利用者<br>負担
        .col3.header
          div.border-bottom.full-width.title.text-center 特定入所者介護サービス費等
          div.row
            div.cell 件数
            div.cell 費用<br>合計
            div.cell 利用者<br>負担
            div.cell 公費<br>請求額
            div.cell 保険<br>請求額
      .row.full-width.body
        .col1 居宅・施設サービス <br> 介護予防サービス <br> 地域密着型サービス等
        .col2 
          div.row
            div.cell 1
            div.cell 476
            div.cell 5,188
            div.cell 4,669
            div.cell 0
            div.cell 519
        .col3
          div.row
            div.cell
            div.cell
            div.cell
            div.cell
            div.cell
      .row.full-width.body
        .col1 居宅介護支援・<br> 地域密着型サービス等 
        .col2 
          div.row
            div.cell
            div.cell
            div.cell
            div.cell
            div.cell.dashed
            div.cell.dashed
        .col3
          div.row
            div.cell.dashed
            div.cell.dashed
            div.cell.dashed
            div.cell.dashed
            div.cell.dashed
      .row.full-width.body
        .col1.text-center 合計
        .col2 
          div.row
            div.cell 1
            div.cell 476
            div.cell 5,188
            
            div.cell 4,669
            div.cell 0
            div.cell 519
        .col3
          div.row
            div.cell
            div.cell
            div.cell
            div.cell
            div.cell
  .fifth-row
    .title
    .table
      .row.full-width.head
        .col1.header 区分
        .col2.header
          div.border-bottom.full-width.title.text-center サービス費用
          div.row
            div.cell 件数
            div.cell 単位数<br>・点数
            div.cell 費用<br>合計
            div.cell 公費<br>請求額
        .col3.header
          div.border-bottom.full-width.title.text-center 特定入所者介護サービス費等
          div.row
            div.cell 件数
            div.cell 費用<br>合計
            div.cell 公費<br>請求額
      .row.full-width.body
        .col1.row.no-padding
          .row  
             div.number.border-right 12
             div.subject
              div.name.row
                div.title 生保 <br> 居宅・施設サービス <br> 介護予防サービス <br> 地域密着型サービス等
                div.content
                div.content
                div.content
                div.content
                div.content
                div.content
                div.content
              div.name.row
                div.title 生保 <br> 居宅・施設サービス <br> 介護予防サービス <br> 地域密着型サービス等
                div.content
                div.content
                div.content
                div.content
                div.content.dashed
                div.content.dashed
                div.content.dashed
        .col1.row.no-padding
          .row  
            div.number.border-right 10
            div.subject
              div.name.row
                div.title 感染症 37条の2
                div.content
                div.content
                div.content
                div.content
                div.content.dashed
                div.content.dashed
                div.content.dashed
      .row.full-width.footer
        .col1.text-center 合計
        .col2
          div.row
            div.content 件数
            div.content 単位数<br>・点数
            div.content 費用<br>合計
            div.content 公費<br>請求額
        .col3
          div.row
            div.content.dashed
            div.content.dashed
            div.content.dashed   1