html {
    // font-size:1vw;
    // line-height: 1.5rem;
    // width: 1375px;
    margin: auto;
}

body {
    // background: rgb(145, 145, 145);
    padding: 5%;
    font-family: MS Pゴシック;
    margin: 0;
}

.container {
    background-color: white;
}

@font-face {
    font-family: MS Pゴシック;
    src: url('MS PGothic.ttf');
}

.first-row {
    width: 100%;

    .title {
        width: 14%;
    }
}

.second-row {
    width: 100%;
    margin-top: 2%;
    margin-left: 1%;
    display: flex;

    .first-block {
        line-height: 3rem;
        width: 32%;

        .single-char {
            padding: 4%;
            border-width: 1px 1px 1px 0;
            border-style: solid;

            &:first-child {
                border-left: 1px solid;
            }
        }
    }

    .second-block {
        align-self: center;
        margin-left: 15%;
    }
}

.third-row {
    width: 100%;
    padding-bottom: 2%;
    justify-content: flex-end;
    .left-side {
        margin-left: 1%;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-self: center;

        div {
            width: 100%;
            &:nth-child(1) {
                margin-left: 2%;
            }
            &:nth-child(2) {
                margin: 10% 0 10% 5%
            }
        }
    }

    .center {
        width: 18%;
        margin-left: 9%;
        display: flex;
        align-self: flex-end;
        margin-bottom: 7%;
    }

    .right-side {
        width: 50%;
        border-top: 1px solid;

        .padding-content {
            padding: 5% 1%;
        }

        .header {
            width: 25%;
            border-width: 0px 1px 1px 1px;
            border-style: solid;
            padding: 2% 0;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .body {
            width: 75%;
            border-width: 0px 1px 1px 0px;
            border-style: solid;

            .split-char {
                flex-grow: 1;
                display: flex;
                align-items: center;
                border-right: 1px solid;
                justify-content: center;

                &:last-child {
                    border-right: unset;
                }
            }

            .position {
                .sub-header {
                    width: 26.5%;
                }
                .sub-body {
                    .text-area {
                        height: 80px;
                        display: flex;
                        padding-left: 1%;
                        align-items: center;
                    }
                }
            }

            .sub-header {
                width: 25%;
                border-width: 0px 1px 1px 0px;
                border-style: solid;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .sub-body {
                width: 75%;
                border-width: 0px 1px 1px 0px;
                border-style: solid;

                &:last-child {
                    border-right: unset;
                }

                .split-text {
                    padding: 2%;
                    line-height: 20px;
                    text-align-last: center;
                    border-right: 1px solid;
                }
            }

            .row:last-child {

                .sub-body,
                .sub-header {
                    border-bottom: unset;
                }
            }
        }

        .cell {
            border-width: 1px 1px 1px 0;
            border-style: solid;
        }
    }
}

.fourth-row {
    .table {
        .col1 {
            width: 20%;
            border-width:0px 1px 1px 1px;
            border-style: solid;
            padding: 10px 5px;
        }
        .col2 {
            &.header {
                .row {
                    width: 100%;
                }
            }
        }
        .col3 {
            &.header {
                .row {
                    width: 100%;
                }
            }
        }
        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            border-width: 1px 1px 1px 0px;
            border-style: solid;

            &:first-child {
                border-left: 1px solid;
            }
    
            .cell {
                justify-content: center;
                text-align: center;
                padding: 5px 5px;
                border-bottom: unset;
                border-right: 1px solid;

                &:last-child {
                    border-right: unset;
                }
            }

            .title {
                padding: 10px 0;
            }
        }
        .body {
            .row {
              height: 100%;
            }
            .cell {
                justify-content: right;
            }
        }
        .cell {
            width: 52px;
            align-items: center;
            display: flex;
            padding: 0 5px;
            border-width: 0 1px 1px 0;
            border-style: solid;
            &.dashed {
                background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), black, transparent calc(50% + 1px)); 
            }
        }
    }
}

.fifth-row {
    margin-top: 5%;
    // padding: 30px;
    .table {
        
        .footer {
            .col1 {
                width: 23%;
            }
            .row {
                height: 100%;
            }
            .content {
                width: 75px;
                padding: 5px 10px;
                border-width: 0 1px 1px 0;
                border-style: solid;
                &.dashed {
                    background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), black, transparent calc(50% + 1px)); 
                }
            }
        }
        .col1 {
            border-width:0px 1px 1px 1px;
            border-style: solid;
            padding: 10px 5px;

            .subject {
                width: 100%;

                .title {
                    padding: 5px 15px 5px 10px;
                    width: 156px;
                    align-self: center;
                }

                .name {
                    &:last-child {
                        border-bottom: unset;
                    }
                }
                
                .content {
                    width: 75px;
                    padding: 5px 10px;
                    border-width: 0 0 0 1px;
                    border-style: solid;
                    min-height: 32px;
                    &.dashed {
                        background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), black, transparent calc(50% + 1px)); 
                    }
                }
            }
        }
        .col2 {
            &.header {
                .row {
                    width: 100%;
                }
            }
        }
        .col3 {
            &.header {
                .row {
                    width: 100%;
                }
            }
        }
        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-width: 1px 1px 1px 0px;
            border-style: solid;

            &:first-child {
                width: 23%;
                border-left: 1px solid;
            }
    
            .cell {
                justify-content: center;
                text-align: center;
                padding: 5px 10px;
                border-bottom: unset;
                border-right: 1px solid;
                
                &:last-child {
                    border-right: unset;
                }
            }

            .title {
                padding: 10px 0;
            }
        }
        .body {
            border-bottom: 1px solid;
            flex-direction: column;
            .row {
              height: auto;
              border-bottom: 1px solid;
              &:last-child {
                border-bottom: unset;
              }
            }
            .cell {
                justify-content: right;
            }
            .col1{
                .number {
                    padding:0 5px;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .cell {
            width: 75px;
            align-items: center;
            display: flex;
            padding: 0 10px;
            border-width: 0 1px 1px 0;
            border-style: solid;
        }
    }
}

.row {
    display: flex;
}

.full-width {
    width: 100%;
}

// Custom class
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.border-top {
    border-top: 1px solid;
}

.border-right {
    border-right: 1px solid;
}
.border-bottom {
    border-bottom: 1px solid;
}

.border-left {
    border-left: 1px solid;
}

.content-center {
    margin: auto;
    align-self: center;
}

.unset-border-bottom {
    border-bottom: unset !important;
}

.unset-border-right {
    border-right: unset !important;
}

.no-padding{
    padding: unset!important;
}