html {
    margin: auto;
    font-size: 10px;
    width: 1070px;
}

body {
    padding: 5%;
    font-family: ＭＳ Ｐゴシック;
    background: white;
}

.container {
    background-color: white;
}

.first-row {
    min-height: 60px;
    justify-content: space-between;

    .title {
        font-size: 2.3rem;
        font-weight: 700;
    }

    .col1 {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-areas:
            "s1 s2"
            "s3 s4";
        border-bottom: 1px solid;
        width: 30%;
        align-content: flex-end;

        div {
            text-align: center;
            border-width: 1px 0 0 1px;
            border-style: solid;
            padding: 5px;

            &:nth-child(2n) {
                border-right: 1px solid;
            }

            // &:nth-child(2n) {
            //     border-top: unset;
            // }
        }
    }

    .col2 {
        text-align: center;
    }

    .col3 {
        text-align: right;
        align-self: center;
    }
}

.second-row {
    margin-top: 2%;
    display: flex;
    width: 100%;

    .header {
        .col {
            border-width: 1px 1px 1px 0;
            border-style: solid;
            text-align: center;

            &:first-child {
                border-left: 1px solid;
            }

            &.col1 {
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;

                    &:last-child {
                        border-left: 1px solid;
                    }
                }
            }

            &.col2,
            &.col3,
            &.col4,
            &.col5,
            &.col6 {
                .subject {
                    padding: 10px;
                }

                .row {
                    border-top: 1px solid;

                    div {
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 70%;

                        &.number {
                            width: 30%;
                        }

                        &:last-child {
                            border-left: 1px solid;
                        }
                    }
                }
            }

            &.col7 {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .body {
        .col {
            border-width: 0 1px 1px 0;
            border-style: solid;
            text-align: center;
            display: flex;

            &.dashed {
                background-image: linear-gradient(to bottom right, transparent calc(50% - 1px), black, transparent calc(50% + 1px));
            }

            &:first-child {
                border-left: 1px solid;
            }

            &.col1 {
                div {
                    width: 50%;

                    &:first-child {
                        border-right: 1px solid;
                    }
                }
            }

            &.col2,
            &.col3,
            &.col4,
            &.col5,
            &.col6 {
                div {
                    text-align: right;
                    padding: 5px;

                    &:first-child {
                        width: 33.5%;
                        border-right: 1px solid;
                        // background-color: red;
                    }

                    &:last-child {
                        width: 66.5%;
                        // background-color: blue;
                    }
                }
            }
        }
    }

    .col {
        width: 15%;
    }
}
.third-row {
    margin-top: 2%;
    width: 50%;
}

.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

.border-right {
    border-right: 1px solid !important;
}

.unset-border-right {
    border-right: unset !important;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}