
// Use !{var} to use unescaped conent
include variables.pug

link(rel='stylesheet', type='text/css', href='../test.css')

.paginate
  .page (1 / 1)

.title
  span #{staticFields.title}
  span.sub #{staticFields.subTitle}

.first-block
  .contact-table
    .headers
      .cell.phone
        span 事業所番号
      .cell.name
        span 事業所名
    .content
      .cell.phone
        span 0170512248
      .cell.name
        span デイサービスきたえるーむ札幌清田
  .sub-title
    p 過誤申立については、下記のとおり決定しましたので通知します。
  .date-time
    p 令和 02年 04月 02日
    p 1 頁
    p 北海道国民健康保険団体連合会
.data-table
  .headers
    .cell.col-1
      span 証記載保険者番号保険者名
    .cell.col-2
      span 被保険者番号被保険者氏名
    .cell.col-3
      span サービス 提供年月
    .cell.col-4
      span サービス 種類名
    .cell.col-5
      span 過誤申立事由
    .cell.col-6
      span 単位数
    .cell.col-7
      span 保険者負担額(公費負担額)
    .cell.col-8
      span 備考
    .item
      .cell.col-1.cell-group
        .cell-small
          span 123
        .cell-small.second
          span 123
      .cell.col-2.cell-group
        .cell-small
          span 123
        .cell-small.second
          span 123
      .cell.col-3
        span 123
      .cell.col-4
        span 123
      .cell.col-5
        span 123
      .cell.col-6.cell-value
        span 123
      .cell.col-7.cell-value
        span 123
      .cell.col-8
        span 123
.sum-table
  .headers
    .cell.col-1
    .cell.col-2
      span 件数
    .cell.col-3
      span 単位数
    .cell.col-4
      span 保険者負担額
  .content
    .cell.col-1
      p 合計
    .cell.col-2
      p 総合事業費
    .cell.col-3
      span 123
    .cell.col-4
      span 123
    .cell.col-5
      span 123