block vars
  -
    var staticFields = {
      body: {
        title: '介護給付費等支払決定額通知書',
        information: {
          first: '事業所番号',
          second: '金額'
        }
      },
      detail: {
        title: '振込金額内訳',
        row1: '介護給付費支払額',
        row2: '主治医意見書作成料',
        row3: '消費税',
        row4: '認定調査費委託料',
        row5: '消費税',
        row6: '介護予防・日常生活支援総合事業費支払額',
        row7: '電子証明書発行手数料(消費税を含む)',
        row8: '介護給付費等合計'
      }
    }
    
    var data = {
      header: {
        code: '〒 004-0841',
        title: '北海道札幌市清田区清田1条1丁目1-36田中ビル',
        description : 'デイサービスきたえるーむ札幌清田',
        subdescription: '株式会社ヤマチコーポレーション'
      },
      body: {
        description: ' 令和 02年 05月審査分として下記金額を支払決定し右記銀行に送金しますので通知致します。'
        information: {
          first: '0170512248',
          second: '2,795,905',
          name: '北海道銀行',
          branchName: '鳥居前支店',
          date: '令和 02年 06月 29日',
          companyDescription: '北海道国民健康保険団体連合会'
        }
      },
      detail: {
        row1: '802,814',
        row2: '0',
        row3: '0',
        row4: '0',
        row5: '0',
        row6: '1,993,091',
        row7: '0',
        row8: '2,795,905'
      }
    }