block vars
  -
    var staticFields = {
      templateNo: '様式第二　',
      subDescription: '　（附則第二条関係）',
      title: '居宅サービス・地域密着型サービス介護給付費明細書',
      subTitle: `
      （訪問介護・訪問入浴介護・訪問看護・訪問リハ・居宅療養管理指導・通所介護・通所リハ・福祉用具貸与・定期巡回・随時対応型訪問介護看護・
        <br>夜間対応型訪問介護・認知症対応型通所介護・小規模多機能型居宅介護（短期利用以外）・小規模多機能型居宅介護（短期利用）・
        <br>複合型サービス（看護小規模多機能型居宅介護・短期利用以外）・複合型サービス（看護小規模多機能型居宅介護・短期利用）・地域密着型通所介護）
        `,
      publicExpense: {
        expenseNoTitle: '公費負担者番号',
        beneficiaryNoTitle: '公費受給者番号',
      },
      insurerNumber: {
        time: '月分',
        numberTitle: '保険者番号',
      },
      insuredCustomer: {
        title: '被保険者',
        insuranceNumberTitle: '被保険者番号',
        nameKanaTitle: '(フリガナ)',
        nameKanjiTitle: '氏名',
        birthdayTitle: '生年月日',
        careLevelTitle: '要介護状態区分',
        expiredDateTitle: '認定有効期間',
        meiJiYear: '1.明治',
        taiShouYear: '2.大正',
        shouWaYear: '3.昭和',
        genderTitle: '性別',
        male: '男',
        female: '女',
        needCare: '要介護',
        from: 'から',
        to: 'まで',
      },
      billingCompany: {
        title: '請求事業者',
        officeNumberTitle: '事業所番号',
        officeNameTitle: '事業所名称',
        addressTitle: '所在地',
        contactAddressTitle: '連絡先',
        phoneNumber: '電話番号',
      },
      homeServicePlan: {
        title: '居宅<br>サービス<br>計画',
        serviceType01: '居宅介護支援事業者作成',
        serviceType02: '被保険者自己作成',
        office: '事業所',
        number: '番号',
        name: '名称',
      },
      serviceCancel: {
        title: '中止理由',
        startDate: '開始年月日',
        endDate: '開始年月日',
        reason01: '非該当',
        reason03: '医療機関入院',
        reason04: '死亡',
        reason05: 'その他',
        reason06: '介護老人福祉施設入所',
        reason07: '介護老人保健施設入所',
        reason08: '介護療養型医療施設入院',
        reason09: '介護医療院入所',
      },
      paymentDetail: {
        title: '給付費明細欄',
        headers: {
          col1: 'サービス内容',
          col2: 'サービスコード',
          col3: '単位数',
          col4: '回数',
          col5: 'サービス単位数',
          col6: '公費分回数',
          col7: '公費対象単位数',
          col8: '摘要',
        },
      },
      specialAddress: {
        title: '給付費明細 <br>(住所地特例対象者)',
        headers: {
          col1: 'サービス内容',
          col2: 'サービスコード',
          col3: '単位数',
          col4: '回数',
          col5: 'サービス単位数',
          col6: '公費分回数',
          col7: '公費対象単位数',
          col8: '摘要',
        },
      },
      paymentSummary: {
        title: '請求額集計欄',
        headers: {
          row1: '①サービス種類コード<br>/②名称',
          row2: '③サービス実日数',
          row3: '④計画単位数',
          row4: '⑤限度額管理対象単位数',
          row5: '⑥限度額管理対象外単位数',
          row6: '⑦給付単位数（④⑤のうち少ない数）＋⑥',
          row7: '⑧公費分単位数',
          row8: '⑨単位数単価',
          row9: '⑩保険請求額',
          row10: '⑪利用者負担額',
          row11: '⑫公費請求額',
          row12: '⑬公費分本人負担',
        },
        days: '日',
        ratio: '給付率 (/100)',
        insurance: '保険',
        expense: '公費',
        yenPerUnit: '円／単位',
        summary: '合計',
      },
      costReduction: {
        title: '社会福祉法人等による軽減欄',
        reductionRate: '軽減率',
        header1: '受領すべき利用者<br>負担の総額（円）',
        header2: '軽減額（円）',
        header3: '軽減後利用者<br>負担額（円）',
        header4: '備考',
        rowHeaders: [
          {
            serviceNo: '',
            label: '',
          },
          {
            serviceNo: '',
            label: '',
          },
          {
            serviceNo: '',
            label: '',
          },
        ]
      }
    }

    var data = {
      "KohiFutanshaBango": "",
      "KohiJyuKyuShaBango": "",
      "TeikyoYymmKanjiDate": "令和03年08月01日",
      "HokenshaBango": "011023",
      "HiHokenshaBango": "2001619283",
      "SeiMeiKana": "ｱｻｲ ﾄﾓｴ",
      "SeiMeiKanji": "朝井　友枝",
      "BirthYmdKanjiDate": "昭和17年05月03日",
      "GenderKbn": "2",
      "YoKaigodo": "23",
      "YokaigoNinteiStartKanjiDate": "令和03年07月01日",
      "YokaigoNinteiEndKanjiDate": "令和05年09月11日",
      "JigyoshoBango": "0170204622",
      "TenpoMei": "きたえるーむ札幌麻生",
      "ZipCd": "001-0907",
      "Address": "札幌市北区新琴似7条3丁目1-26",
      "TellNo": "011-804-5270",
      "CareManeJigyoshoBango": "0100200013",
      "CareManeJigyoshoMei": "札幌市北区第１介護予防支援事業所",
      "RiyoKaishiYmdKanjiDate": "平成29年09月15日",
      "KaiyakuYmdKanjiDate": "明治33年01月01日",
      "KaiyakuRiyuKbn": " ",
      "HokenKyufuRate": 90,
      "CarePlanSakuseiKbn": 1,
      "HokenSeikyuGakuTsukiKei1": 30535,
      "HokenRiyoshaFutanGakuTsukiKei1": 3393,
      "KohiSeikyugakuTsukiKei1": 0,
      "KohiHoninFutangakuTsukiKei1": 0,
      "ServiceNaiyoTxt_J1": null,
      "ServiceNaiyoTxt_J2": null,
      "ServiceNaiyoTxt_J3": null,
      "MEISAI_ServiceCd_J1": null,
      "MEISAI_ServiceCd_J2": null,
      "MEISAI_ServiceCd_J3": null,
      "MEISAI_HoshuTanisu_J1": null,
      "MEISAI_HoshuTanisu_J2": null,
      "MEISAI_HoshuTanisu_J3": null,
      "MEISAI_JisseiKaisu_J1": null,
      "MEISAI_JisseiKaisu_J2": null,
      "MEISAI_JisseiKaisu_J3": null,
      "MEISAI_ServiceTanisu_J1": null,
      "MEISAI_ServiceTanisu_J2": null,
      "MEISAI_ServiceTanisu_J3": null,
      "MEISAI_KohiTashoNissuKaisu_J1": null,
      "MEISAI_KohiTashoNissuKaisu_J2": null,
      "MEISAI_KohiTashoNissuKaisu_J3": null,
      "MEISAI_KohiTani_J1": null,
      "MEISAI_KohiTani_J2": null,
      "MEISAI_KohiTani_J3": null,
      "ServiceShuruiCd": "A6",
      "SERVICE_NAME_01": "通所型ｻｰﾋﾞｽ(独自)",
      "paymentDetails": [
          {
              "YokaigoshaId": "00046398",
              "SeikyuSeqNo": 0,
              "KohiFutanshaBango": "",
              "KohiJyuKyuShaBango": "",
              "KOHI_ARI_FLG": 0,
              "KohiOrder": 0,
              "HiHokenshaBango": "2001619283",
              "SeiMeiKana": "ｱｻｲ ﾄﾓｴ",
              "SeiMeiKanji": "朝井　友枝",
              "BirthYmd": "1942-05-02T15:00:00.000Z",
              "GenderKbn": "2",
              "TenpoId": "001",
              "JigyoshoBango": "0170204622",
              "TenpoMei": "きたえるーむ札幌麻生",
              "ZipCd": "001-0907",
              "Address": "札幌市北区新琴似7条3丁目1-26",
              "TellNo": "011-804-5270",
              "RiyoKaishiYmd": "2017-09-14T15:00:00.000Z",
              "KaiyakuYmd": "1899-12-31T15:00:00.000Z",
              "KaiyakuRiyuKbn": " ",
              "YokaigoNinteiStartYmd": "2021-06-30T15:00:00.000Z",
              "YokaigoninteiEndYmd": "2022-06-29T15:00:00.000Z",
              "TeikyoYYMMDD": "2021-07-31T15:00:00.000Z",
              "TeikyoYYMM": "202108",
              "HokenshaBango": "011023",
              "YoKaigodo": "13",
              "JigyoTaishoshaFlg": "0",
              "HokenKyufuRate": 90,
              "KohiKyufuRate_01": 0,
              "CareManeJigyoshoBango": "0100200013",
              "CarePlanSakuseiKbn": "3",
              "CareManeJigyoshoMei": "札幌市北区第１介護予防支援事業所",
              "ServiceNaiyoTxt": "通所型独自ｻｰﾋﾞｽ／２２",
              "MEISAI_ServiceCd": "A61221",
              "MEISAI_HoshuTanisu": 2742,
              "MEISAI_JisseiKaisu": 1,
              "MEISAI_ServiceTanisu": 2742,
              "MEISAI_KohiTashoNissuKaisu": 0,
              "MEISAI_KohiTani": 0,
              "ServiceShuruiCd_01": "A6",
              "SERVICE_NAME_01": "通所型ｻｰﾋﾞｽ(独自)",
              "JissekiNissu_01": 8,
              "KeikakuTaniTsukiKei1_01": 3130,
              "GendogakuTaniTsukiKei1_01": 3130,
              "GendogakuGaiTaniTsukiKei1_01": 216,
              "HokenTaniTsukiKei1_01": 3346,
              "HokenTanisuTanka_01": 1014,
              "HokenSeikyuGakuTsukiKei1_01": 30535,
              "HokenRiyoshaFutanGakuTsukiKei1_01": 3393,
              "KohiTaniTsukiKei1_01": 0,
              "KohiSeikyugakuTsukiKei1_01": 0,
              "KohiHoninFutangakuTsukiKei1_01": 0,
              "ServiceShuruiCd_02": null,
              "SERVICE_NAME_02": null,
              "JissekiNissu_02": null,
              "KeikakuTaniTsukiKei1_02": null,
              "GendogakuTaniTsukiKei1_02": null,
              "GendogakuGaiTaniTsukiKei1_02": null,
              "HokenTaniTsukiKei1_02": null,
              "HokenTanisuTanka_02": null,
              "HokenSeikyuGakuTsukiKei1_02": null,
              "HokenRiyoshaFutanGakuTsukiKei1_02": null,
              "KohiTaniTsukiKei1_02": null,
              "KohiSeikyugakuTsukiKei1_02": null,
              "KohiHoninFutangakuTsukiKei1_02": null,
              "ServiceShuruiCd_03": null,
              "SERVICE_NAME_03": null,
              "JissekiNissu_03": null,
              "KeikakuTaniTsukiKei1_03": null,
              "GendogakuTaniTsukiKei1_03": null,
              "GendogakuGaiTaniTsukiKei1_03": null,
              "HokenTaniTsukiKei1_03": null,
              "HokenTanisuTanka_03": null,
              "HokenSeikyuGakuTsukiKei1_03": null,
              "HokenRiyoshaFutanGakuTsukiKei1_03": null,
              "KohiTaniTsukiKei1_03": null,
              "KohiSeikyugakuTsukiKei1_03": null,
              "KohiHoninFutangakuTsukiKei1_03": null,
              "ServiceShuruiCd_04": null,
              "SERVICE_NAME_04": null,
              "JissekiNissu_04": null,
              "KeikakuTaniTsukiKei1_04": null,
              "GendogakuTaniTsukiKei1_04": null,
              "GendogakuGaiTaniTsukiKei1_04": null,
              "HokenTaniTsukiKei1_04": null,
              "HokenTanisuTanka_04": null,
              "HokenSeikyuGakuTsukiKei1_04": null,
              "HokenRiyoshaFutanGakuTsukiKei1_04": null,
              "KohiTaniTsukiKei1_04": null,
              "KohiSeikyugakuTsukiKei1_04": null,
              "KohiHoninFutangakuTsukiKei1_04": null,
              "HokenSeikyuGakuTsukiKei1": 30535,
              "KohiSeikyugakuTsukiKei1": 0,
              "KohiHoninFutangakuTsukiKei1": 0,
              "HokenRiyoshaFutanGakuTsukiKei1": 3393,
              "JyushotiTokureiFlg": "0",
              "ServiceNaiyoTxt_J1": null,
              "MEISAI_ServiceCd_J1": null,
              "MEISAI_HoshuTanisu_J1": null,
              "MEISAI_JisseiKaisu_J1": null,
              "MEISAI_ServiceTanisu_J1": null,
              "MEISAI_KohiTashoNissuKaisu_J1": null,
              "MEISAI_KohiTani_J1": null,
              "JyushotiHokenshaBango_J1": null,
              "ServiceNaiyoTxt_J2": null,
              "MEISAI_ServiceCd_J2": null,
              "MEISAI_HoshuTanisu_J2": null,
              "MEISAI_JisseiKaisu_J2": null,
              "MEISAI_ServiceTanisu_J2": null,
              "MEISAI_KohiTashoNissuKaisu_J2": null,
              "MEISAI_KohiTani_J2": null,
              "JyushotiHokenshaBango_J2": null,
              "ServiceNaiyoTxt_J3": null,
              "MEISAI_ServiceCd_J3": null,
              "MEISAI_HoshuTanisu_J3": null,
              "MEISAI_JisseiKaisu_J3": null,
              "MEISAI_ServiceTanisu_J3": null,
              "MEISAI_KohiTashoNissuKaisu_J3": null,
              "MEISAI_KohiTani_J3": null,
              "JyushotiHokenshaBango_J3": null
          },
          {
              "YokaigoshaId": "00046398",
              "SeikyuSeqNo": 0,
              "KohiFutanshaBango": "",
              "KohiJyuKyuShaBango": "",
              "KOHI_ARI_FLG": 0,
              "KohiOrder": 0,
              "HiHokenshaBango": "2001619283",
              "SeiMeiKana": "ｱｻｲ ﾄﾓｴ",
              "SeiMeiKanji": "朝井　友枝",
              "BirthYmd": "1942-05-02T15:00:00.000Z",
              "GenderKbn": "2",
              "TenpoId": "001",
              "JigyoshoBango": "0170204622",
              "TenpoMei": "きたえるーむ札幌麻生",
              "ZipCd": "001-0907",
              "Address": "札幌市北区新琴似7条3丁目1-26",
              "TellNo": "011-804-5270",
              "RiyoKaishiYmd": "2017-09-14T15:00:00.000Z",
              "KaiyakuYmd": "1899-12-31T15:00:00.000Z",
              "KaiyakuRiyuKbn": " ",
              "YokaigoNinteiStartYmd": "2021-06-30T15:00:00.000Z",
              "YokaigoninteiEndYmd": "2022-06-29T15:00:00.000Z",
              "TeikyoYYMMDD": "2021-07-31T15:00:00.000Z",
              "TeikyoYYMM": "202108",
              "HokenshaBango": "011023",
              "YoKaigodo": "13",
              "JigyoTaishoshaFlg": "0",
              "HokenKyufuRate": 90,
              "KohiKyufuRate_01": 0,
              "CareManeJigyoshoBango": "0100200013",
              "CarePlanSakuseiKbn": "3",
              "CareManeJigyoshoMei": "札幌市北区第１介護予防支援事業所",
              "ServiceNaiyoTxt": "通所型独自ｻｰﾋﾞｽ運動器機能向上加算",
              "MEISAI_ServiceCd": "A65002",
              "MEISAI_HoshuTanisu": 225,
              "MEISAI_JisseiKaisu": 1,
              "MEISAI_ServiceTanisu": 225,
              "MEISAI_KohiTashoNissuKaisu": 0,
              "MEISAI_KohiTani": 0,
              "ServiceShuruiCd_01": "A6",
              "SERVICE_NAME_01": "通所型ｻｰﾋﾞｽ(独自)",
              "JissekiNissu_01": 8,
              "KeikakuTaniTsukiKei1_01": 3130,
              "GendogakuTaniTsukiKei1_01": 3130,
              "GendogakuGaiTaniTsukiKei1_01": 216,
              "HokenTaniTsukiKei1_01": 3346,
              "HokenTanisuTanka_01": 1014,
              "HokenSeikyuGakuTsukiKei1_01": 30535,
              "HokenRiyoshaFutanGakuTsukiKei1_01": 3393,
              "KohiTaniTsukiKei1_01": 0,
              "KohiSeikyugakuTsukiKei1_01": 0,
              "KohiHoninFutangakuTsukiKei1_01": 0,
              "ServiceShuruiCd_02": null,
              "SERVICE_NAME_02": null,
              "JissekiNissu_02": null,
              "KeikakuTaniTsukiKei1_02": null,
              "GendogakuTaniTsukiKei1_02": null,
              "GendogakuGaiTaniTsukiKei1_02": null,
              "HokenTaniTsukiKei1_02": null,
              "HokenTanisuTanka_02": null,
              "HokenSeikyuGakuTsukiKei1_02": null,
              "HokenRiyoshaFutanGakuTsukiKei1_02": null,
              "KohiTaniTsukiKei1_02": null,
              "KohiSeikyugakuTsukiKei1_02": null,
              "KohiHoninFutangakuTsukiKei1_02": null,
              "ServiceShuruiCd_03": null,
              "SERVICE_NAME_03": null,
              "JissekiNissu_03": null,
              "KeikakuTaniTsukiKei1_03": null,
              "GendogakuTaniTsukiKei1_03": null,
              "GendogakuGaiTaniTsukiKei1_03": null,
              "HokenTaniTsukiKei1_03": null,
              "HokenTanisuTanka_03": null,
              "HokenSeikyuGakuTsukiKei1_03": null,
              "HokenRiyoshaFutanGakuTsukiKei1_03": null,
              "KohiTaniTsukiKei1_03": null,
              "KohiSeikyugakuTsukiKei1_03": null,
              "KohiHoninFutangakuTsukiKei1_03": null,
              "ServiceShuruiCd_04": null,
              "SERVICE_NAME_04": null,
              "JissekiNissu_04": null,
              "KeikakuTaniTsukiKei1_04": null,
              "GendogakuTaniTsukiKei1_04": null,
              "GendogakuGaiTaniTsukiKei1_04": null,
              "HokenTaniTsukiKei1_04": null,
              "HokenTanisuTanka_04": null,
              "HokenSeikyuGakuTsukiKei1_04": null,
              "HokenRiyoshaFutanGakuTsukiKei1_04": null,
              "KohiTaniTsukiKei1_04": null,
              "KohiSeikyugakuTsukiKei1_04": null,
              "KohiHoninFutangakuTsukiKei1_04": null,
              "HokenSeikyuGakuTsukiKei1": 30535,
              "KohiSeikyugakuTsukiKei1": 0,
              "KohiHoninFutangakuTsukiKei1": 0,
              "HokenRiyoshaFutanGakuTsukiKei1": 3393,
              "JyushotiTokureiFlg": "0",
              "ServiceNaiyoTxt_J1": null,
              "MEISAI_ServiceCd_J1": null,
              "MEISAI_HoshuTanisu_J1": null,
              "MEISAI_JisseiKaisu_J1": null,
              "MEISAI_ServiceTanisu_J1": null,
              "MEISAI_KohiTashoNissuKaisu_J1": null,
              "MEISAI_KohiTani_J1": null,
              "JyushotiHokenshaBango_J1": null,
              "ServiceNaiyoTxt_J2": null,
              "MEISAI_ServiceCd_J2": null,
              "MEISAI_HoshuTanisu_J2": null,
              "MEISAI_JisseiKaisu_J2": null,
              "MEISAI_ServiceTanisu_J2": null,
              "MEISAI_KohiTashoNissuKaisu_J2": null,
              "MEISAI_KohiTani_J2": null,
              "JyushotiHokenshaBango_J2": null,
              "ServiceNaiyoTxt_J3": null,
              "MEISAI_ServiceCd_J3": null,
              "MEISAI_HoshuTanisu_J3": null,
              "MEISAI_JisseiKaisu_J3": null,
              "MEISAI_ServiceTanisu_J3": null,
              "MEISAI_KohiTashoNissuKaisu_J3": null,
              "MEISAI_KohiTani_J3": null,
              "JyushotiHokenshaBango_J3": null
          },
          {
              "YokaigoshaId": "00046398",
              "SeikyuSeqNo": 0,
              "KohiFutanshaBango": "",
              "KohiJyuKyuShaBango": "",
              "KOHI_ARI_FLG": 0,
              "KohiOrder": 0,
              "HiHokenshaBango": "2001619283",
              "SeiMeiKana": "ｱｻｲ ﾄﾓｴ",
              "SeiMeiKanji": "朝井　友枝",
              "BirthYmd": "1942-05-02T15:00:00.000Z",
              "GenderKbn": "2",
              "TenpoId": "001",
              "JigyoshoBango": "0170204622",
              "TenpoMei": "きたえるーむ札幌麻生",
              "ZipCd": "001-0907",
              "Address": "札幌市北区新琴似7条3丁目1-26",
              "TellNo": "011-804-5270",
              "RiyoKaishiYmd": "2017-09-14T15:00:00.000Z",
              "KaiyakuYmd": "1899-12-31T15:00:00.000Z",
              "KaiyakuRiyuKbn": " ",
              "YokaigoNinteiStartYmd": "2021-06-30T15:00:00.000Z",
              "YokaigoninteiEndYmd": "2022-06-29T15:00:00.000Z",
              "TeikyoYYMMDD": "2021-07-31T15:00:00.000Z",
              "TeikyoYYMM": "202108",
              "HokenshaBango": "011023",
              "YoKaigodo": "13",
              "JigyoTaishoshaFlg": "0",
              "HokenKyufuRate": 90,
              "KohiKyufuRate_01": 0,
              "CareManeJigyoshoBango": "0100200013",
              "CarePlanSakuseiKbn": "3",
              "CareManeJigyoshoMei": "札幌市北区第１介護予防支援事業所",
              "ServiceNaiyoTxt": "通所型独自ｻｰﾋﾞｽ事業所評価加算",
              "MEISAI_ServiceCd": "A65005",
              "MEISAI_HoshuTanisu": 120,
              "MEISAI_JisseiKaisu": 1,
              "MEISAI_ServiceTanisu": 120,
              "MEISAI_KohiTashoNissuKaisu": 0,
              "MEISAI_KohiTani": 0,
              "ServiceShuruiCd_01": "A6",
              "SERVICE_NAME_01": "通所型ｻｰﾋﾞｽ(独自)",
              "JissekiNissu_01": 8,
              "KeikakuTaniTsukiKei1_01": 3130,
              "GendogakuTaniTsukiKei1_01": 3130,
              "GendogakuGaiTaniTsukiKei1_01": 216,
              "HokenTaniTsukiKei1_01": 3346,
              "HokenTanisuTanka_01": 1014,
              "HokenSeikyuGakuTsukiKei1_01": 30535,
              "HokenRiyoshaFutanGakuTsukiKei1_01": 3393,
              "KohiTaniTsukiKei1_01": 0,
              "KohiSeikyugakuTsukiKei1_01": 0,
              "KohiHoninFutangakuTsukiKei1_01": 0,
              "ServiceShuruiCd_02": null,
              "SERVICE_NAME_02": null,
              "JissekiNissu_02": null,
              "KeikakuTaniTsukiKei1_02": null,
              "GendogakuTaniTsukiKei1_02": null,
              "GendogakuGaiTaniTsukiKei1_02": null,
              "HokenTaniTsukiKei1_02": null,
              "HokenTanisuTanka_02": null,
              "HokenSeikyuGakuTsukiKei1_02": null,
              "HokenRiyoshaFutanGakuTsukiKei1_02": null,
              "KohiTaniTsukiKei1_02": null,
              "KohiSeikyugakuTsukiKei1_02": null,
              "KohiHoninFutangakuTsukiKei1_02": null,
              "ServiceShuruiCd_03": null,
              "SERVICE_NAME_03": null,
              "JissekiNissu_03": null,
              "KeikakuTaniTsukiKei1_03": null,
              "GendogakuTaniTsukiKei1_03": null,
              "GendogakuGaiTaniTsukiKei1_03": null,
              "HokenTaniTsukiKei1_03": null,
              "HokenTanisuTanka_03": null,
              "HokenSeikyuGakuTsukiKei1_03": null,
              "HokenRiyoshaFutanGakuTsukiKei1_03": null,
              "KohiTaniTsukiKei1_03": null,
              "KohiSeikyugakuTsukiKei1_03": null,
              "KohiHoninFutangakuTsukiKei1_03": null,
              "ServiceShuruiCd_04": null,
              "SERVICE_NAME_04": null,
              "JissekiNissu_04": null,
              "KeikakuTaniTsukiKei1_04": null,
              "GendogakuTaniTsukiKei1_04": null,
              "GendogakuGaiTaniTsukiKei1_04": null,
              "HokenTaniTsukiKei1_04": null,
              "HokenTanisuTanka_04": null,
              "HokenSeikyuGakuTsukiKei1_04": null,
              "HokenRiyoshaFutanGakuTsukiKei1_04": null,
              "KohiTaniTsukiKei1_04": null,
              "KohiSeikyugakuTsukiKei1_04": null,
              "KohiHoninFutangakuTsukiKei1_04": null,
              "HokenSeikyuGakuTsukiKei1": 30535,
              "KohiSeikyugakuTsukiKei1": 0,
              "KohiHoninFutangakuTsukiKei1": 0,
              "HokenRiyoshaFutanGakuTsukiKei1": 3393,
              "JyushotiTokureiFlg": "0",
              "ServiceNaiyoTxt_J1": null,
              "MEISAI_ServiceCd_J1": null,
              "MEISAI_HoshuTanisu_J1": null,
              "MEISAI_JisseiKaisu_J1": null,
              "MEISAI_ServiceTanisu_J1": null,
              "MEISAI_KohiTashoNissuKaisu_J1": null,
              "MEISAI_KohiTani_J1": null,
              "JyushotiHokenshaBango_J1": null,
              "ServiceNaiyoTxt_J2": null,
              "MEISAI_ServiceCd_J2": null,
              "MEISAI_HoshuTanisu_J2": null,
              "MEISAI_JisseiKaisu_J2": null,
              "MEISAI_ServiceTanisu_J2": null,
              "MEISAI_KohiTashoNissuKaisu_J2": null,
              "MEISAI_KohiTani_J2": null,
              "JyushotiHokenshaBango_J2": null,
              "ServiceNaiyoTxt_J3": null,
              "MEISAI_ServiceCd_J3": null,
              "MEISAI_HoshuTanisu_J3": null,
              "MEISAI_JisseiKaisu_J3": null,
              "MEISAI_ServiceTanisu_J3": null,
              "MEISAI_KohiTashoNissuKaisu_J3": null,
              "MEISAI_KohiTani_J3": null,
              "JyushotiHokenshaBango_J3": null
          },
          {
              "YokaigoshaId": "00046398",
              "SeikyuSeqNo": 0,
              "KohiFutanshaBango": "",
              "KohiJyuKyuShaBango": "",
              "KOHI_ARI_FLG": 0,
              "KohiOrder": 0,
              "HiHokenshaBango": "2001619283",
              "SeiMeiKana": "ｱｻｲ ﾄﾓｴ",
              "SeiMeiKanji": "朝井　友枝",
              "BirthYmd": "1942-05-02T15:00:00.000Z",
              "GenderKbn": "2",
              "TenpoId": "001",
              "JigyoshoBango": "0170204622",
              "TenpoMei": "きたえるーむ札幌麻生",
              "ZipCd": "001-0907",
              "Address": "札幌市北区新琴似7条3丁目1-26",
              "TellNo": "011-804-5270",
              "RiyoKaishiYmd": "2017-09-14T15:00:00.000Z",
              "KaiyakuYmd": "1899-12-31T15:00:00.000Z",
              "KaiyakuRiyuKbn": " ",
              "YokaigoNinteiStartYmd": "2021-06-30T15:00:00.000Z",
              "YokaigoninteiEndYmd": "2022-06-29T15:00:00.000Z",
              "TeikyoYYMMDD": "2021-07-31T15:00:00.000Z",
              "TeikyoYYMM": "202108",
              "HokenshaBango": "011023",
              "YoKaigodo": "13",
              "JigyoTaishoshaFlg": "0",
              "HokenKyufuRate": 90,
              "KohiKyufuRate_01": 0,
              "CareManeJigyoshoBango": "0100200013",
              "CarePlanSakuseiKbn": "3",
              "CareManeJigyoshoMei": "札幌市北区第１介護予防支援事業所",
              "ServiceNaiyoTxt": "通所型独自ｻｰﾋﾞｽ処遇改善加算Ⅰ",
              "MEISAI_ServiceCd": "A66100",
              "MEISAI_HoshuTanisu": 185,
              "MEISAI_JisseiKaisu": 1,
              "MEISAI_ServiceTanisu": 185,
              "MEISAI_KohiTashoNissuKaisu": 0,
              "MEISAI_KohiTani": 0,
              "ServiceShuruiCd_01": "A6",
              "SERVICE_NAME_01": "通所型ｻｰﾋﾞｽ(独自)",
              "JissekiNissu_01": 8,
              "KeikakuTaniTsukiKei1_01": 3130,
              "GendogakuTaniTsukiKei1_01": 3130,
              "GendogakuGaiTaniTsukiKei1_01": 216,
              "HokenTaniTsukiKei1_01": 3346,
              "HokenTanisuTanka_01": 1014,
              "HokenSeikyuGakuTsukiKei1_01": 30535,
              "HokenRiyoshaFutanGakuTsukiKei1_01": 3393,
              "KohiTaniTsukiKei1_01": 0,
              "KohiSeikyugakuTsukiKei1_01": 0,
              "KohiHoninFutangakuTsukiKei1_01": 0,
              "ServiceShuruiCd_02": null,
              "SERVICE_NAME_02": null,
              "JissekiNissu_02": null,
              "KeikakuTaniTsukiKei1_02": null,
              "GendogakuTaniTsukiKei1_02": null,
              "GendogakuGaiTaniTsukiKei1_02": null,
              "HokenTaniTsukiKei1_02": null,
              "HokenTanisuTanka_02": null,
              "HokenSeikyuGakuTsukiKei1_02": null,
              "HokenRiyoshaFutanGakuTsukiKei1_02": null,
              "KohiTaniTsukiKei1_02": null,
              "KohiSeikyugakuTsukiKei1_02": null,
              "KohiHoninFutangakuTsukiKei1_02": null,
              "ServiceShuruiCd_03": null,
              "SERVICE_NAME_03": null,
              "JissekiNissu_03": null,
              "KeikakuTaniTsukiKei1_03": null,
              "GendogakuTaniTsukiKei1_03": null,
              "GendogakuGaiTaniTsukiKei1_03": null,
              "HokenTaniTsukiKei1_03": null,
              "HokenTanisuTanka_03": null,
              "HokenSeikyuGakuTsukiKei1_03": null,
              "HokenRiyoshaFutanGakuTsukiKei1_03": null,
              "KohiTaniTsukiKei1_03": null,
              "KohiSeikyugakuTsukiKei1_03": null,
              "KohiHoninFutangakuTsukiKei1_03": null,
              "ServiceShuruiCd_04": null,
              "SERVICE_NAME_04": null,
              "JissekiNissu_04": null,
              "KeikakuTaniTsukiKei1_04": null,
              "GendogakuTaniTsukiKei1_04": null,
              "GendogakuGaiTaniTsukiKei1_04": null,
              "HokenTaniTsukiKei1_04": null,
              "HokenTanisuTanka_04": null,
              "HokenSeikyuGakuTsukiKei1_04": null,
              "HokenRiyoshaFutanGakuTsukiKei1_04": null,
              "KohiTaniTsukiKei1_04": null,
              "KohiSeikyugakuTsukiKei1_04": null,
              "KohiHoninFutangakuTsukiKei1_04": null,
              "HokenSeikyuGakuTsukiKei1": 30535,
              "KohiSeikyugakuTsukiKei1": 0,
              "KohiHoninFutangakuTsukiKei1": 0,
              "HokenRiyoshaFutanGakuTsukiKei1": 3393,
              "JyushotiTokureiFlg": "0",
              "ServiceNaiyoTxt_J1": null,
              "MEISAI_ServiceCd_J1": null,
              "MEISAI_HoshuTanisu_J1": null,
              "MEISAI_JisseiKaisu_J1": null,
              "MEISAI_ServiceTanisu_J1": null,
              "MEISAI_KohiTashoNissuKaisu_J1": null,
              "MEISAI_KohiTani_J1": null,
              "JyushotiHokenshaBango_J1": null,
              "ServiceNaiyoTxt_J2": null,
              "MEISAI_ServiceCd_J2": null,
              "MEISAI_HoshuTanisu_J2": null,
              "MEISAI_JisseiKaisu_J2": null,
              "MEISAI_ServiceTanisu_J2": null,
              "MEISAI_KohiTashoNissuKaisu_J2": null,
              "MEISAI_KohiTani_J2": null,
              "JyushotiHokenshaBango_J2": null,
              "ServiceNaiyoTxt_J3": null,
              "MEISAI_ServiceCd_J3": null,
              "MEISAI_HoshuTanisu_J3": null,
              "MEISAI_JisseiKaisu_J3": null,
              "MEISAI_ServiceTanisu_J3": null,
              "MEISAI_KohiTashoNissuKaisu_J3": null,
              "MEISAI_KohiTani_J3": null,
              "JyushotiHokenshaBango_J3": null
          },
          {
              "YokaigoshaId": "00046398",
              "SeikyuSeqNo": 0,
              "KohiFutanshaBango": "",
              "KohiJyuKyuShaBango": "",
              "KOHI_ARI_FLG": 0,
              "KohiOrder": 0,
              "HiHokenshaBango": "2001619283",
              "SeiMeiKana": "ｱｻｲ ﾄﾓｴ",
              "SeiMeiKanji": "朝井　友枝",
              "BirthYmd": "1942-05-02T15:00:00.000Z",
              "GenderKbn": "2",
              "TenpoId": "001",
              "JigyoshoBango": "0170204622",
              "TenpoMei": "きたえるーむ札幌麻生",
              "ZipCd": "001-0907",
              "Address": "札幌市北区新琴似7条3丁目1-26",
              "TellNo": "011-804-5270",
              "RiyoKaishiYmd": "2017-09-14T15:00:00.000Z",
              "KaiyakuYmd": "1899-12-31T15:00:00.000Z",
              "KaiyakuRiyuKbn": " ",
              "YokaigoNinteiStartYmd": "2021-06-30T15:00:00.000Z",
              "YokaigoninteiEndYmd": "2022-06-29T15:00:00.000Z",
              "TeikyoYYMMDD": "2021-07-31T15:00:00.000Z",
              "TeikyoYYMM": "202108",
              "HokenshaBango": "011023",
              "YoKaigodo": "13",
              "JigyoTaishoshaFlg": "0",
              "HokenKyufuRate": 90,
              "KohiKyufuRate_01": 0,
              "CareManeJigyoshoBango": "0100200013",
              "CarePlanSakuseiKbn": "3",
              "CareManeJigyoshoMei": "札幌市北区第１介護予防支援事業所",
              "ServiceNaiyoTxt": "通所型ｻｰﾋﾞｽ特定処遇改善加算Ⅱ",
              "MEISAI_ServiceCd": "A66119",
              "MEISAI_HoshuTanisu": 31,
              "MEISAI_JisseiKaisu": 1,
              "MEISAI_ServiceTanisu": 31,
              "MEISAI_KohiTashoNissuKaisu": 0,
              "MEISAI_KohiTani": 0,
              "ServiceShuruiCd_01": "A6",
              "SERVICE_NAME_01": "通所型ｻｰﾋﾞｽ(独自)",
              "JissekiNissu_01": 8,
              "KeikakuTaniTsukiKei1_01": 3130,
              "GendogakuTaniTsukiKei1_01": 3130,
              "GendogakuGaiTaniTsukiKei1_01": 216,
              "HokenTaniTsukiKei1_01": 3346,
              "HokenTanisuTanka_01": 1014,
              "HokenSeikyuGakuTsukiKei1_01": 30535,
              "HokenRiyoshaFutanGakuTsukiKei1_01": 3393,
              "KohiTaniTsukiKei1_01": 0,
              "KohiSeikyugakuTsukiKei1_01": 0,
              "KohiHoninFutangakuTsukiKei1_01": 0,
              "ServiceShuruiCd_02": null,
              "SERVICE_NAME_02": null,
              "JissekiNissu_02": null,
              "KeikakuTaniTsukiKei1_02": null,
              "GendogakuTaniTsukiKei1_02": null,
              "GendogakuGaiTaniTsukiKei1_02": null,
              "HokenTaniTsukiKei1_02": null,
              "HokenTanisuTanka_02": null,
              "HokenSeikyuGakuTsukiKei1_02": null,
              "HokenRiyoshaFutanGakuTsukiKei1_02": null,
              "KohiTaniTsukiKei1_02": null,
              "KohiSeikyugakuTsukiKei1_02": null,
              "KohiHoninFutangakuTsukiKei1_02": null,
              "ServiceShuruiCd_03": null,
              "SERVICE_NAME_03": null,
              "JissekiNissu_03": null,
              "KeikakuTaniTsukiKei1_03": null,
              "GendogakuTaniTsukiKei1_03": null,
              "GendogakuGaiTaniTsukiKei1_03": null,
              "HokenTaniTsukiKei1_03": null,
              "HokenTanisuTanka_03": null,
              "HokenSeikyuGakuTsukiKei1_03": null,
              "HokenRiyoshaFutanGakuTsukiKei1_03": null,
              "KohiTaniTsukiKei1_03": null,
              "KohiSeikyugakuTsukiKei1_03": null,
              "KohiHoninFutangakuTsukiKei1_03": null,
              "ServiceShuruiCd_04": null,
              "SERVICE_NAME_04": null,
              "JissekiNissu_04": null,
              "KeikakuTaniTsukiKei1_04": null,
              "GendogakuTaniTsukiKei1_04": null,
              "GendogakuGaiTaniTsukiKei1_04": null,
              "HokenTaniTsukiKei1_04": null,
              "HokenTanisuTanka_04": null,
              "HokenSeikyuGakuTsukiKei1_04": null,
              "HokenRiyoshaFutanGakuTsukiKei1_04": null,
              "KohiTaniTsukiKei1_04": null,
              "KohiSeikyugakuTsukiKei1_04": null,
              "KohiHoninFutangakuTsukiKei1_04": null,
              "HokenSeikyuGakuTsukiKei1": 30535,
              "KohiSeikyugakuTsukiKei1": 0,
              "KohiHoninFutangakuTsukiKei1": 0,
              "HokenRiyoshaFutanGakuTsukiKei1": 3393,
              "JyushotiTokureiFlg": "0",
              "ServiceNaiyoTxt_J1": null,
              "MEISAI_ServiceCd_J1": null,
              "MEISAI_HoshuTanisu_J1": null,
              "MEISAI_JisseiKaisu_J1": null,
              "MEISAI_ServiceTanisu_J1": null,
              "MEISAI_KohiTashoNissuKaisu_J1": null,
              "MEISAI_KohiTani_J1": null,
              "JyushotiHokenshaBango_J1": null,
              "ServiceNaiyoTxt_J2": null,
              "MEISAI_ServiceCd_J2": null,
              "MEISAI_HoshuTanisu_J2": null,
              "MEISAI_JisseiKaisu_J2": null,
              "MEISAI_ServiceTanisu_J2": null,
              "MEISAI_KohiTashoNissuKaisu_J2": null,
              "MEISAI_KohiTani_J2": null,
              "JyushotiHokenshaBango_J2": null,
              "ServiceNaiyoTxt_J3": null,
              "MEISAI_ServiceCd_J3": null,
              "MEISAI_HoshuTanisu_J3": null,
              "MEISAI_JisseiKaisu_J3": null,
              "MEISAI_ServiceTanisu_J3": null,
              "MEISAI_KohiTashoNissuKaisu_J3": null,
              "MEISAI_KohiTani_J3": null,
              "JyushotiHokenshaBango_J3": null
          },
          {
              "YokaigoshaId": "00046398",
              "SeikyuSeqNo": 0,
              "KohiFutanshaBango": "",
              "KohiJyuKyuShaBango": "",
              "KOHI_ARI_FLG": 0,
              "KohiOrder": 0,
              "HiHokenshaBango": "2001619283",
              "SeiMeiKana": "ｱｻｲ ﾄﾓｴ",
              "SeiMeiKanji": "朝井　友枝",
              "BirthYmd": "1942-05-02T15:00:00.000Z",
              "GenderKbn": "2",
              "TenpoId": "001",
              "JigyoshoBango": "0170204622",
              "TenpoMei": "きたえるーむ札幌麻生",
              "ZipCd": "001-0907",
              "Address": "札幌市北区新琴似7条3丁目1-26",
              "TellNo": "011-804-5270",
              "RiyoKaishiYmd": "2017-09-14T15:00:00.000Z",
              "KaiyakuYmd": "1899-12-31T15:00:00.000Z",
              "KaiyakuRiyuKbn": " ",
              "YokaigoNinteiStartYmd": "2021-06-30T15:00:00.000Z",
              "YokaigoninteiEndYmd": "2022-06-29T15:00:00.000Z",
              "TeikyoYYMMDD": "2021-07-31T15:00:00.000Z",
              "TeikyoYYMM": "202108",
              "HokenshaBango": "011023",
              "YoKaigodo": "13",
              "JigyoTaishoshaFlg": "0",
              "HokenKyufuRate": 90,
              "KohiKyufuRate_01": 0,
              "CareManeJigyoshoBango": "0100200013",
              "CarePlanSakuseiKbn": "3",
              "CareManeJigyoshoMei": "札幌市北区第１介護予防支援事業所",
              "ServiceNaiyoTxt": "通所型独自ｻｰﾋﾞｽ科学的介護推進体制加算",
              "MEISAI_ServiceCd": "A66311",
              "MEISAI_HoshuTanisu": 40,
              "MEISAI_JisseiKaisu": 1,
              "MEISAI_ServiceTanisu": 40,
              "MEISAI_KohiTashoNissuKaisu": 0,
              "MEISAI_KohiTani": 0,
              "ServiceShuruiCd_01": "A6",
              "SERVICE_NAME_01": "通所型ｻｰﾋﾞｽ(独自)",
              "JissekiNissu_01": 8,
              "KeikakuTaniTsukiKei1_01": 3130,
              "GendogakuTaniTsukiKei1_01": 3130,
              "GendogakuGaiTaniTsukiKei1_01": 216,
              "HokenTaniTsukiKei1_01": 3346,
              "HokenTanisuTanka_01": 1014,
              "HokenSeikyuGakuTsukiKei1_01": 30535,
              "HokenRiyoshaFutanGakuTsukiKei1_01": 3393,
              "KohiTaniTsukiKei1_01": 0,
              "KohiSeikyugakuTsukiKei1_01": 0,
              "KohiHoninFutangakuTsukiKei1_01": 0,
              "ServiceShuruiCd_02": null,
              "SERVICE_NAME_02": null,
              "JissekiNissu_02": null,
              "KeikakuTaniTsukiKei1_02": null,
              "GendogakuTaniTsukiKei1_02": null,
              "GendogakuGaiTaniTsukiKei1_02": null,
              "HokenTaniTsukiKei1_02": null,
              "HokenTanisuTanka_02": null,
              "HokenSeikyuGakuTsukiKei1_02": null,
              "HokenRiyoshaFutanGakuTsukiKei1_02": null,
              "KohiTaniTsukiKei1_02": null,
              "KohiSeikyugakuTsukiKei1_02": null,
              "KohiHoninFutangakuTsukiKei1_02": null,
              "ServiceShuruiCd_03": null,
              "SERVICE_NAME_03": null,
              "JissekiNissu_03": null,
              "KeikakuTaniTsukiKei1_03": null,
              "GendogakuTaniTsukiKei1_03": null,
              "GendogakuGaiTaniTsukiKei1_03": null,
              "HokenTaniTsukiKei1_03": null,
              "HokenTanisuTanka_03": null,
              "HokenSeikyuGakuTsukiKei1_03": null,
              "HokenRiyoshaFutanGakuTsukiKei1_03": null,
              "KohiTaniTsukiKei1_03": null,
              "KohiSeikyugakuTsukiKei1_03": null,
              "KohiHoninFutangakuTsukiKei1_03": null,
              "ServiceShuruiCd_04": null,
              "SERVICE_NAME_04": null,
              "JissekiNissu_04": null,
              "KeikakuTaniTsukiKei1_04": null,
              "GendogakuTaniTsukiKei1_04": null,
              "GendogakuGaiTaniTsukiKei1_04": null,
              "HokenTaniTsukiKei1_04": null,
              "HokenTanisuTanka_04": null,
              "HokenSeikyuGakuTsukiKei1_04": null,
              "HokenRiyoshaFutanGakuTsukiKei1_04": null,
              "KohiTaniTsukiKei1_04": null,
              "KohiSeikyugakuTsukiKei1_04": null,
              "KohiHoninFutangakuTsukiKei1_04": null,
              "HokenSeikyuGakuTsukiKei1": 30535,
              "KohiSeikyugakuTsukiKei1": 0,
              "KohiHoninFutangakuTsukiKei1": 0,
              "HokenRiyoshaFutanGakuTsukiKei1": 3393,
              "JyushotiTokureiFlg": "0",
              "ServiceNaiyoTxt_J1": null,
              "MEISAI_ServiceCd_J1": null,
              "MEISAI_HoshuTanisu_J1": null,
              "MEISAI_JisseiKaisu_J1": null,
              "MEISAI_ServiceTanisu_J1": null,
              "MEISAI_KohiTashoNissuKaisu_J1": null,
              "MEISAI_KohiTani_J1": null,
              "JyushotiHokenshaBango_J1": null,
              "ServiceNaiyoTxt_J2": null,
              "MEISAI_ServiceCd_J2": null,
              "MEISAI_HoshuTanisu_J2": null,
              "MEISAI_JisseiKaisu_J2": null,
              "MEISAI_ServiceTanisu_J2": null,
              "MEISAI_KohiTashoNissuKaisu_J2": null,
              "MEISAI_KohiTani_J2": null,
              "JyushotiHokenshaBango_J2": null,
              "ServiceNaiyoTxt_J3": null,
              "MEISAI_ServiceCd_J3": null,
              "MEISAI_HoshuTanisu_J3": null,
              "MEISAI_JisseiKaisu_J3": null,
              "MEISAI_ServiceTanisu_J3": null,
              "MEISAI_KohiTashoNissuKaisu_J3": null,
              "MEISAI_KohiTani_J3": null,
              "JyushotiHokenshaBango_J3": null
          },
          {
              "YokaigoshaId": "00046398",
              "SeikyuSeqNo": 0,
              "KohiFutanshaBango": "",
              "KohiJyuKyuShaBango": "",
              "KOHI_ARI_FLG": 0,
              "KohiOrder": 0,
              "HiHokenshaBango": "2001619283",
              "SeiMeiKana": "ｱｻｲ ﾄﾓｴ",
              "SeiMeiKanji": "朝井　友枝",
              "BirthYmd": "1942-05-02T15:00:00.000Z",
              "GenderKbn": "2",
              "TenpoId": "001",
              "JigyoshoBango": "0170204622",
              "TenpoMei": "きたえるーむ札幌麻生",
              "ZipCd": "001-0907",
              "Address": "札幌市北区新琴似7条3丁目1-26",
              "TellNo": "011-804-5270",
              "RiyoKaishiYmd": "2017-09-14T15:00:00.000Z",
              "KaiyakuYmd": "1899-12-31T15:00:00.000Z",
              "KaiyakuRiyuKbn": " ",
              "YokaigoNinteiStartYmd": "2021-06-30T15:00:00.000Z",
              "YokaigoninteiEndYmd": "2022-06-29T15:00:00.000Z",
              "TeikyoYYMMDD": "2021-07-31T15:00:00.000Z",
              "TeikyoYYMM": "202108",
              "HokenshaBango": "011023",
              "YoKaigodo": "13",
              "JigyoTaishoshaFlg": "0",
              "HokenKyufuRate": 90,
              "KohiKyufuRate_01": 0,
              "CareManeJigyoshoBango": "0100200013",
              "CarePlanSakuseiKbn": "3",
              "CareManeJigyoshoMei": "札幌市北区第１介護予防支援事業所",
              "ServiceNaiyoTxt": "通所型独自ｻｰﾋﾞｽ令和３年９月３０日までの上乗せ分",
              "MEISAI_ServiceCd": "A68310",
              "MEISAI_HoshuTanisu": 3,
              "MEISAI_JisseiKaisu": 1,
              "MEISAI_ServiceTanisu": 3,
              "MEISAI_KohiTashoNissuKaisu": 0,
              "MEISAI_KohiTani": 0,
              "ServiceShuruiCd_01": "A6",
              "SERVICE_NAME_01": "通所型ｻｰﾋﾞｽ(独自)",
              "JissekiNissu_01": 8,
              "KeikakuTaniTsukiKei1_01": 3130,
              "GendogakuTaniTsukiKei1_01": 3130,
              "GendogakuGaiTaniTsukiKei1_01": 216,
              "HokenTaniTsukiKei1_01": 3346,
              "HokenTanisuTanka_01": 1014,
              "HokenSeikyuGakuTsukiKei1_01": 30535,
              "HokenRiyoshaFutanGakuTsukiKei1_01": 3393,
              "KohiTaniTsukiKei1_01": 0,
              "KohiSeikyugakuTsukiKei1_01": 0,
              "KohiHoninFutangakuTsukiKei1_01": 0,
              "ServiceShuruiCd_02": null,
              "SERVICE_NAME_02": null,
              "JissekiNissu_02": null,
              "KeikakuTaniTsukiKei1_02": null,
              "GendogakuTaniTsukiKei1_02": null,
              "GendogakuGaiTaniTsukiKei1_02": null,
              "HokenTaniTsukiKei1_02": null,
              "HokenTanisuTanka_02": null,
              "HokenSeikyuGakuTsukiKei1_02": null,
              "HokenRiyoshaFutanGakuTsukiKei1_02": null,
              "KohiTaniTsukiKei1_02": null,
              "KohiSeikyugakuTsukiKei1_02": null,
              "KohiHoninFutangakuTsukiKei1_02": null,
              "ServiceShuruiCd_03": null,
              "SERVICE_NAME_03": null,
              "JissekiNissu_03": null,
              "KeikakuTaniTsukiKei1_03": null,
              "GendogakuTaniTsukiKei1_03": null,
              "GendogakuGaiTaniTsukiKei1_03": null,
              "HokenTaniTsukiKei1_03": null,
              "HokenTanisuTanka_03": null,
              "HokenSeikyuGakuTsukiKei1_03": null,
              "HokenRiyoshaFutanGakuTsukiKei1_03": null,
              "KohiTaniTsukiKei1_03": null,
              "KohiSeikyugakuTsukiKei1_03": null,
              "KohiHoninFutangakuTsukiKei1_03": null,
              "ServiceShuruiCd_04": null,
              "SERVICE_NAME_04": null,
              "JissekiNissu_04": null,
              "KeikakuTaniTsukiKei1_04": null,
              "GendogakuTaniTsukiKei1_04": null,
              "GendogakuGaiTaniTsukiKei1_04": null,
              "HokenTaniTsukiKei1_04": null,
              "HokenTanisuTanka_04": null,
              "HokenSeikyuGakuTsukiKei1_04": null,
              "HokenRiyoshaFutanGakuTsukiKei1_04": null,
              "KohiTaniTsukiKei1_04": null,
              "KohiSeikyugakuTsukiKei1_04": null,
              "KohiHoninFutangakuTsukiKei1_04": null,
              "HokenSeikyuGakuTsukiKei1": 30535,
              "KohiSeikyugakuTsukiKei1": 0,
              "KohiHoninFutangakuTsukiKei1": 0,
              "HokenRiyoshaFutanGakuTsukiKei1": 3393,
              "JyushotiTokureiFlg": "0",
              "ServiceNaiyoTxt_J1": null,
              "MEISAI_ServiceCd_J1": null,
              "MEISAI_HoshuTanisu_J1": null,
              "MEISAI_JisseiKaisu_J1": null,
              "MEISAI_ServiceTanisu_J1": null,
              "MEISAI_KohiTashoNissuKaisu_J1": null,
              "MEISAI_KohiTani_J1": null,
              "JyushotiHokenshaBango_J1": null,
              "ServiceNaiyoTxt_J2": null,
              "MEISAI_ServiceCd_J2": null,
              "MEISAI_HoshuTanisu_J2": null,
              "MEISAI_JisseiKaisu_J2": null,
              "MEISAI_ServiceTanisu_J2": null,
              "MEISAI_KohiTashoNissuKaisu_J2": null,
              "MEISAI_KohiTani_J2": null,
              "JyushotiHokenshaBango_J2": null,
              "ServiceNaiyoTxt_J3": null,
              "MEISAI_ServiceCd_J3": null,
              "MEISAI_HoshuTanisu_J3": null,
              "MEISAI_JisseiKaisu_J3": null,
              "MEISAI_ServiceTanisu_J3": null,
              "MEISAI_KohiTashoNissuKaisu_J3": null,
              "MEISAI_KohiTani_J3": null,
              "JyushotiHokenshaBango_J3": null
          }
      ],
      "ServiceShuruiCd_01": "A6",
      "JissekiNissu_01": 8,
      "KeikakuTaniTsukiKei1_01": 3130,
      "GendogakuTaniTsukiKei1_01": 3130,
      "GendogakuGaiTaniTsukiKei1_01": 216,
      "HokenTaniTsukiKei1_01": 3346,
      "KohiTaniTsukiKei1_01": 0,
      "HokenTanisuTanka_01": 1014,
      "HokenSeikyuGakuTsukiKei1_01": 30535,
      "HokenRiyoshaFutanGakuTsukiKei1_01": 3393,
      "KohiSeikyugakuTsukiKei1_01": 0,
      "KohiHoninFutangakuTsukiKei1_01": 0,
      "ServiceShuruiCd_02": null,
      "JissekiNissu_02": null,
      "KeikakuTaniTsukiKei1_02": null,
      "GendogakuTaniTsukiKei1_02": null,
      "GendogakuGaiTaniTsukiKei1_02": null,
      "HokenTaniTsukiKei1_02": null,
      "KohiTaniTsukiKei1_02": null,
      "HokenTanisuTanka_02": null,
      "HokenSeikyuGakuTsukiKei1_02": null,
      "HokenRiyoshaFutanGakuTsukiKei1_02": null,
      "KohiSeikyugakuTsukiKei1_02": null,
      "KohiHoninFutangakuTsukiKei1_02": null,
      "ServiceShuruiCd_03": null,
      "JissekiNissu_03": null,
      "KeikakuTaniTsukiKei1_03": null,
      "GendogakuTaniTsukiKei1_03": null,
      "GendogakuGaiTaniTsukiKei1_03": null,
      "HokenTaniTsukiKei1_03": null,
      "KohiTaniTsukiKei1_03": null,
      "HokenTanisuTanka_03": null,
      "HokenSeikyuGakuTsukiKei1_03": null,
      "HokenRiyoshaFutanGakuTsukiKei1_03": null,
      "KohiSeikyugakuTsukiKei1_03": null,
      "KohiHoninFutangakuTsukiKei1_03": null,
      "ServiceShuruiCd_04": null,
      "JissekiNissu_04": null,
      "KeikakuTaniTsukiKei1_04": null,
      "GendogakuTaniTsukiKei1_04": null,
      "GendogakuGaiTaniTsukiKei1_04": null,
      "HokenTaniTsukiKei1_04": null,
      "KohiTaniTsukiKei1_04": null,
      "HokenTanisuTanka_04": null,
      "HokenSeikyuGakuTsukiKei1_04": null,
      "HokenRiyoshaFutanGakuTsukiKei1_04": null,
      "KohiSeikyugakuTsukiKei1_04": null,
      "KohiHoninFutangakuTsukiKei1_04": null
    }
