block vars
  -
    var staticFields = {
      first: {
        title: '様式第一 (附則第二条関係)'
      },
      second: {
        month: '月分'
      },
      third: {
        first: '保 険 者',
        second: '(別 記)殿',
        third: '下記のとおり請求します。',
        right: {
          first: '事業所番号',
          second: {
            title: '請求事業所',
            first: '名称',
            second: '所在地',
            third: '連絡先'
          }
        }
      },
      fourth: {
        first: '区分',
        secondTitle: 'サービス費用',
        second: {
          first: '件数',
          second: '単位数<br>・点数',
          third: '費用<br>合計',
          fourth: '保険<br>請求額',
          fifth: '公費<br>請求額',
          sixth: '利用者<br>負担',
        },
        thirdTitle: '特定入所者介護サービス費等',
        third: {
          first: '件数',
          second: '費用<br>合計',
          third: '利用者<br>負担',
          fourth: '公費<br>請求額',
          fifth: '保険<br>請求額'
        }
      },
      fifth: {
        first: '区分',
        secondTitle: 'サービス費用',
        thirdTitle: '特定入所者介護サービス費等',
        second: {
          first: '件数',
          second: '単位数<br>・点数',
          third: '費用<br>合計',
          fourth: '公費<br>請求額',
        },
        third:  {
          first: '件数',
          second: '費用<br>合計',
          third: '公費<br>請求額',
        },
        footer: '合計'
      }
    }
    
    var data = {
      second: {
        year: '令和',
        date: '04年12',
        title: '介護給付費請求書'
      },
      third: {
        date: '令和05年02月17日',
        first: '0190200001',
        second: {
          first: 'きたえるーむ(デモ)',
          second: {
            first: '〒999-9999',
            second: '札幌市'
          },
          third: '011-999-9999'
        }
      },
      fourth: [
        {
          title: '居宅・施設サービス <br> 介護予防サービス <br> 地域密着型サービス等',
          col1: '1',
          col2: '476',
          col3: '5,188',
          col4: '4,669',
          col5: '0',
          col6: '519',
          col7: '',
          col8: '',
          col9: '',
          col10: '',
          col11: '',
        },
        {
          title: '居宅介護支援・<br> 地域密着型サービス等 ',
          col1: '',
          col2: '',
          col3: '',
          col4: '',
        },
        {
          title: '合計',
          col1: '',
          col2: '',
          col3: '',
          col4: '',
          col5: '',
          col6: '',
          col7: '',
          col8: '',
          col9: '',
          col10: '',
          col11: '',
        }
      ],
      fifth: [
        {
          code: 12,
          data: [
            {
              title: '生保 <br> 居宅・施設サービス <br> 介護予防サービス <br> 地域密着型サービス等',
              col1: '',
              col2: '',
              col3: '',
              col4: '',
              col5: '',
              col6: '',
              col7: '',
            },
            {
              title: '生保 <br> 居宅・施設サービス <br> 介護予防サービス <br> 地域密着型サービス等',
              col1: '',
              col2: '',
              col3: '',
              col4: '',
            }
          ]
        },
        {
          code: 10,
          data: [
            {
              title: '感染症 37条の2',
              col1: '',
              col2: '',
              col3: '',
              col4: '',
            }
          ]
        }
      ],
      footer: {
        col4: '',
        col5: '',
      }
    }