block vars
  -
    var staticFields = {
      officeNumber: '事業所(保険者)番号',
      officeName: '事業所(保険者)名',
      second: {
        col1: {
          first: '保険者番号',
          second: 'サービス<br>提供年月'
        },
        col2: {
          first: '請求差',
          second: {
            unit: '件数',
            field: '金 額'
          }
        },
        col3: {
          first: '返戻',
          second: {
            unit: '件数',
            field: '単位数'
          }
        },
        col4: {
          first: '査定増減',
          second: {
            unit: '件数',
            field: '単位数'
          }
        },
        col5: {
          first: '保留分',
          second: {
            unit: '件数',
            field: '単位数'
          }
        },
        col6: {
          first: '保留復活分',
          second: {
            unit: '件数',
            field: '単位数'
          }
        },
        col7: '備考'
      },
      summary: '合計',
      firstNote: '※1 この表は請求のあった介護予・日常生活支援総合事業費のうち、審査決定に際し、<br>請求書と請求明細書の積上げとの差、返戻、査定増減、保留のあったものについて通知するものです。',
      secondNote: '※2 保留復活分については、前月まで保留されていたものが、復活したものです。'
    }
    
    var data = {
      title : '介護予防・日常生活支援総合事業審査決定増減表' ,
      subtitle : '令和 02年 06月審査分',
      date: '平成 30年 11月 02日',
      page: '1 頁',
      companyName : '北海道国民健康保険団体連合会',
      officeNumber: '0170512248',
      officeName: 'デイサービスきたえるーむ札幌清田',
      second: {
        col1: {
          first: '011106',
          second: 'R02.05'
        },
        col3: {
          first: '2',
          second: '2,490'
        },
        col4: {
          first: '0',
          second: '0'
        },
        col5: {
          first: '0',
          second: '0'
        },
        col6: {
          first: '0',
          second: '0'
        },
        col7: ''
      },
      summary: {
        col2: {
          first: '100',
          second: '1,688,818'
        },
        col3: {
          first: '2',
          second: '2,490'
        },
        col4: {
          first: '0',
          second: '0'
        },
        col5: {
          first: '0',
          second: '0'
        },
        col6: {
          first: '0',
          second: '0'
        },
        col7: ''
      }
    }