block vars
  -
    var staticFields = {
      first: {
        convert: '国保連合会 → サービス事業所等',
        title: '介護保険審査増減単位数通知書',
        date: '平成 30年 09月 04日',
        labelOfficeNumber: '事業所番号',
        labelOfficeName: '事業所名',
        officeNumber: '0170512248',
        officeName: 'デイサービスきたえるーむ札幌清田',
        importDate: '令和 02年 05月審査分',
        companyName: '北海道国民健康保険団体連合会',
        companyName2: '道国保連介護給付費審査委員会',
        page: '1 頁'
      },
      second: {
        col1: '保険者番号',
        col2: '被保険者番号<br>被保険者氏名',
        col3: 'サービス<br>提供年月',
        col4: 'サービス<br>種類コード',
        col5: 'サービス<br>項目コード',
        col6: '増減単位数',
        col7: '事由',
        col8: '内容',
        infoContact: '連絡事項'
      },
      third: {
        title: '○事由記号の内容',
        header: {
          col1: '上限審査分',
          col2: '出来高分'
        },
        type: {
          col1: '記号',
          col2: '内容'
        },
        codes: [
          {
           code : 'A' ,
           subject: '給付管理票に実績が記載されていないもの',
           sub: [
            {
              code : 'C' ,
              subject: '担当規程に反するもの',
            },
            {
              code : 'D' ,
              subject: '適応と認められないもの',
            },
            {
              code : 'E' ,
              subject: '過剰と認められるもの',
            }
           ]
          },
          {
           code : 'B' ,
           subject: '給付管理票の実績を超えるもの',
           sub: [
            {
              code : 'F' ,
              subject: '重複と認められるもの',
            },
            {
              code : 'G' ,
              subject: '前記の外、不適当、不必要と認められるもの',
            }
           ]
          },
        ]
      }
    }
    
    var data = {
     body: [
      {
        col1: '011106',
        col2: {
          up: '5501152333',
          down: '提供年 月ド'
        },
        col3: 'H03.07',
        col4: '15',
        col5: '2241',
        col6: '',
        col7: '',
        col8: {
          up: '',
          down: ''
        },
      },
      {
        col1: '011106',
        col2: {
          up: '5501152333',
          down: '提供年 月ド'
        },
        col3: 'H03.07',
        col4: '15',
        col5: '5052',
        col6: '-464',
        col7: 'B',
        col8: {
          up: '確定単位数( 3712)',
          down: '請求単位数( 4176)'
        },
      }
     ]
    }