block vars
  -
    var staticFields = {
      first: {
        left: '認定済',
        right: '申請中',
        title: 'サービス提供票',
        from: 'サービス事業者',
        text6: '印刷年月日'
      },
      second: {
        first: '保険者番号',
        second: '保険者名',
        third: `居宅介護支援 <br> 
                事業者事業所名 <br>
                担当者名`,
        fourth: '作成年月日',
        fifth: '被保険者<br>番号',
        sixth: 'フリガナ<br>被保険者氏名',
        seventh: '保険者確認印',
        eighth: '届出<br>年月日'
      },
      third: {
        first: {
         firstEra: '明',
         secondEra: '大',
         thirdEra: '昭',
         fourthEra: '平',
         birdthDay: '生年月日'
        },
        second: {
         gender: '性別',
         male: '男',
         female: '女',
        },
        third: {
          first: {
            header:  '要介護状態区分'
          },
          second: {
            header: '変更後 <br> 要介護状態区分 <br> 変更日'
          },
          target: '事業対象者',
          firstBranch: '支1',
          secondBranch: '支2',
          limitTarget: 5
        },
        fourth: '区分支給<br>限度基準額',
        fifth: '限度額適用<br>期間',
        sixth: '前月までの<br>短期入所利<br>用日数'
      },
      fourth: {
        col1: '提供時間帯',
        col2: 'サービス内容',
        col3: 'サービス <br> 事業所 <br>事業所名',
        col4: {
          date: '日付',
          day: '曜日',
          summary: '合計<br>回数',
          dayOfWeek: {
            0: '日',
            1: '月',
            2: '火',
            3: '水',
            4: '木',
            5: '金',
            6: '土'
          },
          schedule: '予定',
          achievement: "実績"
        }
      },
      final: {
        note: '※平成27年４月よりサービス提供体制強化加算、介護職員処遇改善加算は「限度額管理対象外単位数」に記載しております。',
        fixedNote: '確定単位数',
        limitNote: '限度額管理対象外単位数',
        unit: '単位'
      }
    }
    
    var data = {
      first: {
        switch: 'left',
        date: '令和03年03月分',
        to: '居宅介護支援事業者',
        text6: '令和05年03月13日'
      },
      second: {
        first: '011080',
        second: '札幌市〔厚別区〕',
        third: '',
        fourth: '',
        fifth: '5555666677',
        sixth: {
          up: 'アイチ ハチロウ',
          down: '愛知 八郎'
        }
      },
      third: {
        first: {
          selectedEra: '昭',
          date: '15年01月01日'
        },
        second: {
          gender: '女'
        },
        third: {
          first: {
            target: 5,
            branch: '支1'
          },
          second: {
            target: 1,
            branch: '支2'
          }
        },
        fourth: '19705単位/月',
        fifth: ['令和02年07月から', '令和04年08月まで'],
        sixth: ['令和02年07月から', '令和04年08月まで'],
      },
      fourth: {
        startDayIndex: 2, //'月',
        maxDate: 30,
        data: [
          {
            col1: '9:00～11:30',
            col2: '通所介護Ⅰ２２・時減',
            col3: 'きたえるーむ(デモ)',
            col4: {
              0: {
                schedule: '1',
                achivement: '1'
              },
              3: {
                schedule: '1',
                achivement: '1'
              },
              15: {
                schedule: '1',
                achivement: '1'
              },
              summary: {
                schedule: '3',
                achivement: '3'
              },
            },
          },
          {
            col1: '9:00～11:30',
            col2: '通所介護Ⅰ２ 4・時減',
            col3: 'きたえるーむ(デモ)',
            col4: {
              0: {
                schedule: '1',
                achivement: '1'
              },
              3: {
                schedule: '1',
                achivement: '1'
              },
              15: {
                schedule: '1',
                achivement: '1'
              },
              summary: {
                schedule: '3',
                achivement: '3'
              },
            },
          }
        ]
      },
      final : {
        fixed: 503,
        limit: 49
      }
    }