block vars
  -
    var staticFields = {
      title : '業務日誌',
      subTitle: '(通所介護・介護予防通所介護)',
      blocks: {
        first: {
          col1: '管理者',
          col2: '記録者'
        },
        second: {
          col1: '人数',
          col2: 'ご利用者数',
          col3: '(内通所介護)',
          col4: '(内介護予防)',
          col5: '男性',
          col6: '女性',
        },
        'double-block' : {
          col1: '番号',
          col2: '午前のご利用者',
          col3: '介護度',
        },
        'fifth-block' : {
          col1: '特記・連絡・報告事項'
        },
        'sixth-block': {
          col1: '役職',
          col2: '氏名',
          col3: '役職',
          col4: '氏名',
          col5: '役職',
          col6: '氏名',
          col7: '役職',
          col8: '氏名',
        }
      }
    }
    var data = {
      pagination: {
        page: 1,
        dummyPage: '(1 / 1)'
      },
      date : '令和4年5月27日(金)',
      blocks: {
        first: {
          col1: '井上絢加',
          col2: '井上絢加'
        },
        third: [
          {
            col1: '',
            col2: '松岡 美智子 様',
            col3: '要支援1'
          },
          {
            col1: '',
            col2: '松岡 美智子 様',
            col3: '要支援1'
          },
          {
            col1: '',
            col2: '松岡 美智子 様',
            col3: '要支援1'
          },
          {
            col1: '',
            col2: '松岡 美智子 様',
            col3: '要支援1'
          }
        ],
        fourth: [
          {
            col1: '',
            col2: '松岡 美智子 様',
            col3: '要支援1'
          }
        ],
        fifth: {
          col2 : '(午前) <br> 鶴来 逸子 様 欠席 <br>田中 盛治 様 欠席',
          col3 : '(午前) <br> 鶴来 逸子 様 欠席 <br>田中 盛治 様 欠席'
        },
        sixth: [
          {
            col1 : '管理者', 
            col2 : '井上 絢加',
          },
          {
            col1 : '介護職員',
            col2 : '山川 毅',
          },
          {
            col1 : '看護職員',
            col2 : '葛野 啓子',
          }
        ]   
      }
    }