block vars
  -
    var staticFields = {
      body : {

      }
    }
    
    var data = {
     body: [
      {
        col1: '011106',
        col2: {
          up: '5501152333',
          down: '提供年 月ド'
        },
        col3: 'H03.07',
        col4: '15',
        col5: '2241',
        col6: '',
        col7: '',
        col8: {
          up: '',
          down: ''
        },
      },
      {
        col1: '011106',
        col2: {
          up: '5501152333',
          down: '提供年 月ド'
        },
        col3: 'H03.07',
        col4: '15',
        col5: '5052',
        col6: '-464',
        col7: 'B',
        col8: {
          up: '確定単位数( 3712)',
          down: '請求単位数( 4176)'
        },
      }
     ]
    }